extends ./base.pug 

block css
  if locals.cssFiles
    each cssFile in cssFiles
      link(rel="stylesheet" href=cssFile)
  if locals.customCss
    link(rel="stylesheet" href="/static/css/" + appName + ".css")
block body
  
  .container
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
      
      a.navbar-brand(href="/") Worldbuilding Suite
      
      .navbar-collapse.collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/auth") Account
          li.nav-item
            a.nav-link(href="/namegen") Name Generation
  
  #root
block js
  if locals.jsFiles
    each jsFile in jsFiles
      script(src=jsFile)
  script(src="/static/js/" + appName + ".js")
